<div class="col-xs-4"></div>
  <div class="col-xs-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field resisration_field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder:"お名前",style:"width:100%" %>
      </div>

      <div class="field resisration_field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Eメール",style:"width:100%" %>
      </div>


      <div class="field resisration_field">
        <%= f.password_field :password, autocomplete: "new-password",placeholder:"パスワード(6字以上)" ,style:"width:100%"%>
      </div>

      <div class="field resisration_field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"パスワード確認",style:"width:100%"  %>
      </div>

      <div class="actions regisration_action">
        <%= f.submit "Sign up",class:"btn btn-warning regisration_action" %>
      </div>
    <% end %>
  </div>
<div class="col-xs-4"></div>

<%= render "devise/shared/links" %>
