<div class="col-xs-4"><%= render 'layouts/navleft' %></div>
	<div class="col-xs-4">
		<div class="col-xs-12">
			<table class="table table-hover table-inverse">
				<tr>
					<td><h5>名前:</h5></td>
					<td><h5><%= @user.name %></h5></td>
				</tr>
				<tr>
					<td><h5>メールアドレス:</h5></td>
					<td><h5><%= @user.email %></h5></td>
				</tr>
			</table>
		</div>
		<div class="action">
			<%= link_to "編集する",edit_user_path(@user),class:"btn btn-primary col-xs-12" %>
		</div>
	</div>
<div class="col-xs-4"><%= render 'layouts/navright' %></div>