<div class="col-xs-4"><%= render 'layouts/navleft' %></div>
<div class="col-xs-4">
	<h4><%= @category.name %></h4>
		<table class="table col-xs-12">
			<% @products.each do |product| %>
			<tr>
				<td><h5><%= product.day %></h5></td>
				<td><h5><%= product.name %></h5></td>
				<td><h5><%= product.price %>円</h5></td>
				<td class="product_td"><%= link_to "詳細", product_path(product.id), class:"btn btn-primary" %></td>
			</tr>
			<% end %>
		</table>
		<div class="col-xs-12" style="margin-top:30px">
			<%= link_to "戻る", :back, class:"btn btn-warning col-xs-12" %>
		</div>
</div>
<div class="col-xs-4"><%= render 'layouts/navright' %></div>
