<div class="col-xs-4"><%= render 'layouts/navleft' %></div>
 <div class="col-xs-4">

	<% if @product.errors.any? %>
	  <div id="error_explanation" style="margin: 30px auto" >
	    <ul>
	    <% @product.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	</ul>
	  </div>
	<% end %>

 	<%= form_for(@product) do |f| %>
 		<div class="field">
	 		<%= f.label :日付 %><br>
	 		<%= f.date_select :day, class: 'col-xs-12 new_form' %>
	 	</div>
	 	<div class="field" style="margin-top:30px">
	 		<%= f.label :カテゴリー %>
	 		<%= f.collection_select :category_id, Category.all,:id, :name, :prompt => "カテゴリーを選択" , class: 'col-xs-12 new_form'%>
	 	</div>
	 	<div class="field" style="margin-top:30px">
	 		<%= f.label :買ったもの %>
	 		<%= f.text_field :name, class: 'col-xs-12 new_form'%>
	 	</div>
	 	<div class="field" style="margin-top:30px">
	 		<%= f.label :金額 %>
	 		<%= f.text_field :price,class: 'col-xs-12 new_form' %>
	 	</div>
	 	<div class="field">
	 		<%= f.label :メモ %>
	 		<%= f.text_area :memo, class: 'col-xs-12 new_form' %>
	 	</div>
	 	<div class="action">
	 		<%= f.submit '保存する！', class: 'col-xs-12 new_form' %>
	 	</div>
 	<% end %>
 </div>
 <div class="col-xs-4"><%= render 'layouts/navright' %></div>

